/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#logo {
	position:relative;
	font-size:30px;
	text-decoration:none;
	padding:20px;
	border-bottom:1px solid #ccc;
	
}
#logo a, a:hover {
	text-decoration:none;
	border:none;	
}
#wrapper {}
#main-wrap {
	margin-left:auto;
	margin-right:auto;
	width:980px;
	border:1px solid #ccc;
	background:#eee;
	padding:10px;
	margin-top:10px;
	border-radius:10px;
	min-height:500px;
	color:#444;
}
#main-menu {
	position:relative;
	float:right;
	bottom:30px;
	margin-right:550px;
}
#main-wrap a { text-decoration:none; } 

#main-wrap a:hover {
	text-decoration:underline;
	background:none;
}
#footer {
	position:relative;
	background:#1A1A1C;   /*#3B5998;*/
	height:50px;
	width:100%;
	padding:0px;
}
